.mainTable {
  border: solid black 1px;
  font-size: 1rem;
}

ul {
  list-style: none;
  text-align: left;
}

.right {
  text-align: right;
}

.favourite {
  color: blue;
  background-color: Transparent;
  border: none;
  font-size: 1.5rem;
  outline: none;
}

.un_favourite {
  /* color: blue; */
  background-color: Transparent;
  border: none;
  font-size: 1.5rem;
  outline: none;
}

.star::before {
  content: "\2606";
}

.bookmark {
  background-color: Transparent;
  border: none;
  /* font-size: 1.5rem; */
  outline: none;
}
